.container{
    max-width: 1284px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    display: flex;
    align-items: center;

}
.header__img{
    padding-bottom: 40px;
}
.menu{
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 40px;
    padding-left: 730px;

    
}
.menu__p{
color: #83888F;
font-family: Barlow;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 15px; 
letter-spacing: 0.923px;
text-transform: uppercase;
padding-left: 33px;
}
.hero{
    display: flex;
    flex-direction: column;
    background-color:#83888F ;
    border-radimore : 10px;
    
}

.hero__h1{
    color: #FEFCF7;
font-family: Fraunces;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 72px;
width: 493px;
padding-left: 65px;
}
.hero__p{
    width: 445px;
    color: #FEFCF7;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
width: 445px;
padding-left: 65px;
padding-bottom: 40px;
}
.hero__button{
    width: 217px;
height: 56px;
flex-shrink: 0;
color: #FEFCF7;
text-align: center;
font-family: Fraunces;
font-size: 18px;
font-style: normal;
font-weight: 900;
line-height: 25px; 
border-radius: 6px;
background: #0E8784;
margin-left: 65px;
border: none;
margin-bottom: 50px;
}
.danche{
    margin-top: 80px;
    margin-bottom: 100px;
}
.danche__ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style-type: none;

}
.danche__ul--li-h3{
    color: #333D4B;
text-align: center;
font-family: Fraunces ;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 32px; 
}
.danche__ul--li-p{
    color: #333D4B;
text-align: center;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.danche__ul--li{
  width: 261px;
  margin-top: 90px;
  margin-right: 20px;
}
.us__h2{
    color: #FEFCF7;
text-align: center;
font-family: Fraunces;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 48px;
width: 329px; 
padding-top: 30px;
}
.us__p{
    color: #FEFCF7;
text-align: center;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
width: 540px;
padding-top: 15px;
}
.us{
    background-color: #333D4B ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    height: 450px;
    position: absolute;
    border-radius: 10px;

}
.more__ul{
    display: flex;
    align-items: center;
    list-style-type: none;
   
}
.more__ul--li{
    width: 330px;
    height: 300px;
    position: relative;
    top: 280px;
    left: 82px;
    border-radius: 8px;
     background: #0E8784;
     display: flex;
     align-items: center;
     flex-direction: column;
     margin-left: 10px;
     
}
.more__ul--li-h3{
    color: #FEFCF7;
text-align: center;
font-family: Fraunces 9pt;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 32px; 
width: 255px;
padding-top: 20px;
}
.more__ul--li-p{
    color: #FEFCF7;
text-align: center;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
width: 255px;
}
.more__ul--li-icon{
    padding-top: 30px;
    width: 100px;
    height: 100px;
}